<header>
  <h1><%= title %></h1>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <button><a href="/logout">LOGOUT</a></button>
  </nav>
</header>
