<%- include('./partials/header.ejs') %> <%- include('./partials/head.ejs') %>
<body>
  <h2><%= title %></h2>
  <form action="/login" method="post">
    <label for="">Email</label>
    <input type="text" name="email" id="email" />
    <label for="">Password</label>
    <input type="text" name="password" id="password" />
    <button type="submit">Submit</button>
  </form>
</body>
